@import "tailwindcss";

@theme inline {
	--main-color: #2b2b2b;
	--text-color: #fff;
	--hover-color: #ff8904;
	--glass-color: #414048;
	--green-color: #34d399;
	--red-color: #ef4444;
	--btn-text-color: #000;
}